* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  h1 {
    font-size: 36px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
  }
  
  header {
    /* position: sticky; */
    background-color: #4cd038;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  
  .logo img {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .navbar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
  }
  
  .navbar {
  
    background-color: #333;
    color: #fff;
    display: none;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    z-index: 1;
    overflow-y: auto; /* Enable vertical scroll if needed */
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin-top: 100px; /* Adjust top margin for space above close icon */
  }
  
  .menu li {
    text-align: center;
    justify-content: center;
    margin-bottom: 25px; /* Increased margin between list items */
  }
  
  .menu li:last-child {
    margin-bottom: 0;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em; /* Increased font size for list items */
  }
  
  .close-icon {
    font-size: 3em;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .home_page img{
      height: auto;
      width: 100%;
      background-size: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }
  
  #upload_btn:hover{
      color:#F7FCF7;
      background-color: transparent;
      border-color: #F7FCF7;
      font-weight: bold;
      border: 2px solid #F7FCF7; 
      
  }
  /* //........ Footer ...... // */
  
  footer {
      width: 100%;
      background-color: #4cd038;
    }
    
    .footer-container {
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
    }
    
    .f-design {
      width: 100%;
      text-align: center;
    }
    
    .f-design .f-design-txt {
      /* padding: 25px 0; */
      padding-top:10px;
      padding-bottom:30px;
      font-size: 14px;
      color: white;
    }
   
.first_content{
    display: flex;
    align-items: center;
}
.group_photo{
    width: 50%;
    padding:65px;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}
.group_photo img{
    max-width: 645px;
    max-height: 694px;
}
.description {
    width:50%;
    /* margin-left: 20px; */
    font-size: 24px;
    margin-right: 90px;
}
.card_section{
    background-color: #4cd038;
    margin-bottom: 2px;
}
.first_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    max-width: 340px;
    max-height: 442px;
    background-color: #F7FCF7;
    color:black;
    /* margin: 30px; */
    /* margin-right:145px;  */
    /* margin-left: 50px; */
    margin:50px 110px;
    border-radius: 10px;
}
.card img{
    /* align-items: center; */
    margin:20px;
    max-width:295px;
    max-height: 277px;
}
.second_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h4{
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
    padding-top:10px;
}
h5{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-top:10px;
}
h3{
    text-align: center;
    font-size: 32px;
    color: #F7FCF7;
    padding-top:30px;
    padding-bottom:0px;
}

/* Responsive */
@media (max-width:1281px){
    .first_content {
        flex-direction: column;
        align-items: center;
    }
    .group_photo{
        width: 100%;
        text-align: center;
        /* padding: 50px 0px; */
        padding:50px 0px;
    }
    .description {
        width: 100%;
        text-align: center;
        padding: 0px 50px 80px 80px;
        margin:0px;
    }
}
@media (max-width:1025px){
    .first_content {
        flex-direction: column;
        align-items: center;
    }
    .group_photo{
        width: 100%;
        text-align: center;
        padding: 50px 0px;
    }
    .description {
        width: 100%;
        text-align: center;
        padding: 0 50px;
        
        margin: 0px;
        margin-bottom: 50px;
    }
}
@media (max-width:541px){
    .group_photo img{
        max-width: 520px;
        max-height: 554px;
    }
}
@media (max-width:431px){
    .group_photo img{
        max-width: 390px;
        max-height: 454px;
        padding:0px;
        margin-top: -30px;
    }
    h1{
        margin-top: -30px;
        /* padding-top: -20px; */
        font-size: 24px;
    }
    .description{
        font-size: 18px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 18px;
    }
    h3{
        font-size: 24px;
    }
    .close-icon {
        font-size: 2em;
        padding-bottom: 3px;
        /* top: 5px; */
        /* right: 10px; */
      }
      .footer-container {
        padding: 0;
      }
      .f-design .f-design-txt {
        /* padding: 25px 0; */
        padding-top:25px;
        /* padding-bottom:30px; */
        font-size: 12px;
        color: white;
      }
      .navbar {
    
        background-color: #333;
        color: #fff;
      
        height: 100%;
        width: 100%;
    
      }
      /* Add this CSS to hide header content when navbar is open */
      .navbar.active + header {
        display: none;
      }
      .overlay.hide{
        display: none;
      }
}
@media (max-width:391px){
    .group_photo img{
        max-width: 370px;
        max-height: 454px;
        padding:0px;
        margin-top: -30px;
    }
    h1{
        margin-top: -30px;
        /* padding-top: -20px; */
        font-size: 24px;
    }
    .description{
        font-size: 18px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 18px;
    }
    h3{
        font-size: 24px;
    }
}
@media (max-width:376px){
    .group_photo img{
        max-width: 340px;
        max-height: 420px;
        padding:0px;
        margin-top: -30px;
    }
    .card{
        margin:20px;
    }
    h1{
        margin-top: -30px;
        /* padding-top: -20px; */
        font-size: 18px;
    }
    .description{
        font-size: 14px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        font-size: 14px;
    }
    h3{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .card_section{
        background-color: #4cd038;
        margin-bottom: 2px;
        padding-bottom: 15px;
    }
}