<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prediction Result</title>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/upload2.css">
  <link rel="stylesheet" href="/static/css/up.css">
</head>
<body>

<header>
  <div class="logo">
    <a href="/index">
      <img src="/static/image/image01.png" alt="" />
    </a>

  </div>
  <nav class="nav">
    <ul class="menu1">
      <li class="li1" style="font-weight: bold;"><a href="/index">Home</a></li>
      <li class="li2" style="font-weight: bold;"><a href="/about">About Us</a></li>
      <li class="li3" style="font-weight: bold;"><a href="/treatment">Treatment</a></li>
    </ul>
  </nav>
  <button id="toggleNavbar" class="navbar-toggle">☰</button>

  <nav class="navbar" id="navbar">
    <button id="closeNavbar" class="close-icon">×</button>
    <ul class="menu">
      <li><a href="./index.html/home">Home</a></li>
      <li><a href="./aboutus.html">About Us</a></li> <!-- Update to match your route in Flask -->
      <li><a href="./treatment.html">Treatment</a></li> <!-- Update to match your route in Flask -->
    </ul>
  </nav>
</header>

<section class = up_card>
  <div class="upload_card">
    <div class="image">
      <div class="image-con2">
        <img src="data:image/png;base64,{{ image_path }}" alt="Captured Image" id='result_image'>      
      </div>
    </div>
    <div class="upload_btns" id="result_cont">
      <h2 class='h2'>Classification Result</h2>

      <p>SVM has classified : {{ predicted_class_svm1 }}</p>
      <p>CNN has classified : {{ predicted_class_svm1 }}</p>

      <div>
        <button class="result-btn" id="btns" onclick="window.location.href='/'">Back</button>
        {% if predicted_class_svm1 in ['Potato_EarlyBlight'] %}
            <button class='b2' id="btns" onclick="window.location.href='/treatment/earlyblight'">Treatment</button>
        {% elif predicted_class_svm1 in ['Potato_LateBlight'] %}
            <button class='b2' id="btns" onclick="window.location.href='/treatment/lateblight'">Treatment</button>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer-container container"></div>
  <div class="f-design">
    <div class="f-design-txt container">
      <p class="p1">2024 AgriTech All Right Reserved</p>
    </div>
  </div>
</footer>

<script src="/static/js/script.js"></script>
</body>
</html>


